<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> {% endcomment %}
    <title>Django level 2 </title>
</head>

<body>

    <h1 class="head">Hello World - index.html</h1>
    <img src=" {% static 'images/django_pic.jpg' %}" alt="oh uh! didnt loaded">

    <h1>Hello welcome to django Level two </h1>
    <p>here we are trying to connect the models with view and template and getting the access record</p>
    <div class="django_two">
        {% if access_records %}
        <table>
            <thead>
                <th> Site Name </th>
                <th> date accessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td> {{ acc.name }} </td>
                <td> {{ acc.date }} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> no access records were found </p>
        {% endif %}
    </div>
</body>

</html>